<div class="accordion accordion-flush bg-light rounded-2 shadow overflow-hidden" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed rounded-top" 
                    type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" 
                    aria-expanded="false" aria-controls="flush-collapseOne">
                        Tüm Markalar
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" 
            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" >
            <li (click)="setCurrentBrand(brand)"
                routerLink = "/cars/brand/{{brand.brandId}}"
                *ngFor="let brand of brands" 
                [class]="getCurrentBrandClass(brand)"
                class="list bg-light shadow overflow-hidden list-hover"> {{brand.brandName}} </li>
        </div>
    </div>
</div>  
